/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */

* {
	margin: 0;
	padding: 0;
}

html, body {
	height: 100%;
}

body {
	background-color: white;
	font: 13.34px helvetica, arial, clean, sans-serif;
		  *font-size: small;
		  text-align: center;
	  }

	  h1, h2, h3, h4, h5, h6 {
		  font-size: 100%;
	  }

	  h1 {
		  margin-bottom: 1em;
	  }

	  a:hover {
		  color: black;
      	  text-decoration: underline;
	  }

	  a {
		  color: #aaa;
		  text-decoration: none;
	  }

	  table {
		  font-size: inherit;
		  font: 100%;
	  }


	  /*****************************************************************************/
	  /*
	  /* Site
	  /*
	  /*****************************************************************************/

	  .site {
		  font-size: 120%;
		  width: 50em;
		  margin: 3em auto 2em 20em;
		  text-align: justify;
		  line-height: 1.5em;
	  }

	  .site p{
		  margin:1em 0;
	  }

	  .site a{
		  color: #00a;
	  }
	  .site a:visited {
		  color: #a0a;
	  }

	  .title {
		  color: #aaa;
		  font-weight: normal;
		  margin-bottom: 3em;
	  }

	  .site .title a {
		  color: #aaa;
		  text-decoration: none;
	  }

	  .site .title a:hover {
		  color: black;
	  }

	  .site .title a.extra {
		  color: #aaa;
		  text-decoration: none;
		  margin-right: 3em;
	  }

	  .site .title a.extra:hover {
		  color: black;
	  }

	  .site .meta {
		  color: #aaa;
	  }

	  .site.footer {
		  font-size: 80%;
		  color: #666;
		  border-top: 4px solid #eee;
		  margin-top: 2em;
		  overflow: hidden;
	  }

    .site .footer .contact {
      float: left;
      margin-right: 25em;
    }

      .site .footer .contact p {
        color: #aaa;
		font-size: 80%;
      }

	  .site.footer .share {
		  float: right;
	  }

	  .site.footer .share img {
		  border: 0;
	  }

	  /*****************************************************************************/
	  /*
	  /* Home
	  /*
	  /*****************************************************************************/

	  ul.posts {
		  list-style-type: none;
		  margin-bottom: 2em;
	  }

	  ul.posts li {
		  line-height: 1.75em;
	  }

	  ul.posts span {
		  color: #aaa;
		  font-family: Monaco, "Courier New", monospace;
		  font-size: 100%;
	  }

	  /*****************************************************************************/
	  /*
	  /* Posts
	  /*
	  /*****************************************************************************/

	  #post *{
		  font-weight: normal;
		  font-size: 95%;
	  }
	  /* standard */
	  #post strong{
		  font-size: 120%;
	  }

	  #post pre {
		  border: 1px solid #ddd;
		  background-color: #eef;
		  padding: 0 .4em;
	  }

	  #post ul,
	  #post ol {
		  margin-left: 1.35em;
	  }

	  #post code {
		  border: 1px solid #ddd;
		  background-color: #eef;
		  font-size: 80%;
		  padding: 0 .2em;
	  }

	  #post pre code {
		  border: none;
	  }

	  /* terminal */
	  #post pre.terminal {
		  border: 1px solid black;
		  background-color: #333;
		  color: white;
	  }

	  #post pre.terminal code {
		  background-color: #333;
	  }

	  #related {
		  margin-top: 2em;
	  }

	  #related h2 {
		  margin-bottom: 1em;
	  }

	  /*****************************************************************************/
	  /*
	  /* lifestream
	  /*
	  /*****************************************************************************/

    #lifestream {
      border-radius: 7px;
      color: #666666;
      width: 50em;
      font-size:11px;
    }
    #lifestream a {
      text-decoration: none;
    }

    #lifestream a:hover {
      color: black;
      text-decoration: underline;
    }
    #lifestream ul {
      padding: 10px;
    }
    #lifestream li {
      padding: 5px 3px 5px 25px;
      background-repeat: no-repeat;
      background-position: left center;
    }

	#lifestream .lifestream-facebook_page a{
		color: #0033ff;
	}

	#lifestream .lifestream-flickr a{
		color: #ff00ff;
	}

	#lifestream .lifestream-github a{
		color: #444444;
	}

	#lifestream .lifestream-googleplus a{
		color: #ff0000;
	}
	#lifestream .lifestream-linkedin a{
		color: #006699;
	}
	#lifestream .lifestream-twitter a{
		color: #0099ff;
	}
	#lifestream .lifestream-youtube a{
		color: #cc3333;
	}

	  /*****************************************************************************/
	  /*
	  /* bar
	  /*
	  /*****************************************************************************/

	  .bar h4,.article-author-bottom h4{margin-bottom:0.5em;font-size:150%}
	  .bar p,.article-author-bottom p{font-size:130%;font-style:italic;}
	  .bar a,.article-author-bottom a,.bar a:hover,.article-author-bottom a:hover{border-bottom:0 solid transparent;}
	  .bar img.bio-photo,.article-author-bottom img.bio-photo{-webkit-border-radius:100px;-moz-border-radius:100px;border-radius:100px;}
	  .bar{
		  margin: 5em 1em auto 2em;
	  display:none;}
	  .article-author-bottom{
		  margin: 2em auto 6em 2em;
	  }
	  .article-author-bottom .bio-photo{float:left;margin-right:25px;}
	  @media print{*{background:transparent !important;color:black !important;box-shadow:none !important;text-shadow:none !important;filter:none !important;-ms-filter:none !important;position:static !important;} @page {margin:0.5cm;}h2,h3{orphans:3;widows:3;page-break-after:avoid;} p{orphans:3;widows:3;} pre,blockquote{border:1px solid #333;page-break-inside:avoid;padding:1em;} abbr[title]:after{content:" (" attr(title) ")";} a,a:visited{text-decoration:underline;} a[href]:after{content:" (" attr(href) ")";} a[href^="javascript:"]:after,a[href^="#"]:after{content:"";} img{max-width:100% !important;page-break-inside:avoid;} thead{display:table-header-group;} tr{page-break-inside:avoid;}}@media only screen and (min-width:30em){.image-grid li{width:33.333333%;}}@media only screen and (min-width:37.5em){html{font-size:95%;} .site-name{display:inline;float:left;width:16.666666666666668%;margin-left:4.166666666666667%;margin-right:4.166666666666667%;} .top-navigation{display:inline;float:left;width:75%;margin-left:0%;margin-right:0%;} .image-wrap .headline-wrap,.image-wrap:after{left:25%;} .image-wrap .headline-wrap{margin-left:0;}  .bar{display:block;display:inline;float:left;width:16.666666666666668%;margin-left:4.166666666666667%;margin-right:4.166666666666667%;} .article-author-bottom{display:none;} .toc{display:block;display:inline;float:left;width:16.666666666666668%;margin-left:4.166666666666667%;margin-right:4.166666666666667%;position:fixed;top:120px;right:0;-webkit-box-shadow:0 0 5px rgba(0, 0, 0, 0.5);-moz-box-shadow:0 0 5px rgba(0, 0, 0, 0.5);box-shadow:0 0 5px rgba(0, 0, 0, 0.5);} .image-grid li{width:25%;} .related-articles{display:inline;float:left;width:50%;margin-left:25%;margin-right:25%;}}@media only screen and (min-width:48em){html{font-size:100%;} .image-grid li{width:20%;}}@media only screen and (min-width:62em){html{font-size:112.5%;} .image-grid li{width:16.666666666%;}}@media only screen and (min-width:86.375em){.site-name{display:inline;float:left;width:12.5%;margin-left:16.666666666666668%;} .top-navigation{display:inline;float:left;width:66.66666666666667%;} .image-wrap:after{left:33.333333333%;} .image-wrap .headline-wrap{margin-left:8.333333333333334%;}    .bar{display:inline;float:left;width:12.5%;margin-left:16.666666666666668%;}}@media (-webkit-min-device-pixel-ratio:2),(min-resolution:192dpi){}
