/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */

* {
	margin: 0;
	padding: 0;
}

html, body {
	height: 100%;
	min-height: 100%;
}

body {
	background-color: white;
	font: 13.34px helvetica, arial, clean, sans-serif;
		  *font-size: small;
		  text-align: center;
	  }

	  h1, h2, h3, h4, h5, h6 {
		  font-size: 100%;
	  }

	  h1 {
		  margin-bottom: 1em;
	  }

	  a:hover {
		  color: black;
      	  text-decoration: underline;
	  }

	  a {
		  color: #aaa;
		  text-decoration: none;
	  }

	  table {
		  font-size: inherit;
		  font: 100%;
	  }


	  /*****************************************************************************/
	  /*
	  /* Site
	  /*
	  /*****************************************************************************/

	  .site {
		  font-size: 120%;
		  width: 50em;
		  margin: 3em auto 2em 20em;
		  text-align: justify;
		  line-height: 1.5em;
		  min-height: 80%;
	  }

	  .site p,.site ul{
		  margin:1em 0;
		  color: #333;
	  }

	  .site a{
		  color: #00a;
	  }
	  .site a:visited {
		  color: #a0a;
	  }

	  .title {
		  color: #aaa;
		  font-weight: normal;
		  margin-bottom: 3em;
	  }

	  .site .title a {
		  color: #aaa;
		  text-decoration: none;
	  }

	  .site .title a:hover {
		  color: black;
	  }

	  .site .title a.extra {
		  color: #aaa;
		  text-decoration: none;
		  margin-right: 3em;
	  }

	  .site .title a.extra:hover {
		  color: black;
	  }

	  .site .meta {
		  color: #aaa;
	  }

	  .site dd{
	  	  color: #333;
	  }

	  .footer {
		  font-size: 120%;
		  width: 50em;
		  margin: auto auto 1em 20em;
		  height: 20%;
		  border-top: 4px solid #aaa;
		  overflow: hidden;
	  }

     .footer .contact {
      float: left;
      margin-right: 5em;
	  margin-top: 1em;
    }

     .footer .contact p {
        color: #aaa;
		font-size: 80%;
      }

	 .footer .share {
		  float: right;
		  margin-top: 1em;
	  }

	  /*****************************************************************************/
	  /*
	  /* Home
	  /*
	  /*****************************************************************************/

	  ul.posts {
		  list-style-type: none;
		  margin-bottom: 2em;
	  }

	  ul.posts li {
		  line-height: 1.75em;
	  }

	  ul.posts span {
		  color: #aaa;
		  font-family: Monaco, "Courier New", monospace;
		  font-size: 100%;
	  }

	  /*****************************************************************************/
	  /*
	  /* Posts
	  /*
	  /*****************************************************************************/

	  #post *{
		  font-weight: normal;
		  font-size: 95%;
	  }
	  /* standard */
	  #post strong{
		  font-size: 120%;
	  }

	  #post pre {
		  border: 1px solid #ddd;
		  background-color: #eef;
		  padding: 0 .4em;
	  }

	  #post ul,
	  #post ol {
		  margin-left: 1.35em;
	  }

	  #post code {
		  border: 1px solid #ddd;
		  background-color: #eef;
		  font-size: 80%;
		  padding: 0 .2em;
	  }

	  #post pre code {
		  border: none;
	  }

	  /*****************************************************************************/
	  /*
	  /* lifestream
	  /*
	  /*****************************************************************************/

    #lifestream {
      border-radius: 7px;
      color: #666;
      width: 100%;
      font-size:11px;
    }
    #lifestream a {
      text-decoration: none;
    }

    #lifestream a:hover {
      color: black;
      text-decoration: underline;
    }
    #lifestream ul {
      padding: 10px;
    }
    #lifestream li {
      padding: 5px 3px 5px 25px;
      background-repeat: no-repeat;
      background-position: left center;
    }

	#lifestream .lifestream-facebook_page a{
		color: #0033ff;
	}

	#lifestream .lifestream-flickr a{
		color: #ff00ff;
	}

	#lifestream .lifestream-github a{
		color: #444444;
	}

	#lifestream .lifestream-googleplus a{
		color: #ff0000;
	}
	#lifestream .lifestream-linkedin a{
		color: #006699;
	}
	#lifestream .lifestream-twitter a{
		color: #0099ff;
	}
	#lifestream .lifestream-youtube a{
		color: #cc3333;
	}

	  /*****************************************************************************/
	  /*
	  /* bar
	  /*
	  /*****************************************************************************/

	  .bar h4{margin-bottom:0.5em;font-size:150%}
	  .bar p{font-size:130%;font-style:italic}
	  .bar a,.bar a:hover{border-bottom:0 solid transparent;}
	  .bar img.bio-photo{-webkit-border-radius:100px;-moz-border-radius:100px;border-radius:100px;}
	  .bar{
		  margin: 3em 1em auto 2em;
		  display:none;
	  }
	  @media print{*{background:transparent !important;color:black !important;box-shadow:none !important;text-shadow:none !important;filter:none !important;-ms-filter:none !important;position:static !important;} @page {margin:0.5cm;} p{orphans:3;widows:3;} img{max-width:100% !important;page-break-inside:avoid;} } @media only screen and (min-width:37.5em){html{font-size:95%;} .bar{display:block;display:inline;float:left;width:10em;margin-left:10em;margin-right:0em;}} @media (-webkit-min-device-pixel-ratio:2),(min-resolution:192dpi){}
